@function toRem($px) {
  $base-font-size: 15px;
  @return ($px / $base-font-size) * 1rem;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// 모바일
$m: 480px;
// 태블릿
$t: 768px;
// 데스크톱
$l: 1024px;
// 큰화면
$xl: 1440px;

@media (max-width: $xl) {
  html,
  body {
    font-size: 15px !important;
  }
}
@media (max-width: $l) {
  html,
  body {
    font-size: 14px !important;
  }
}
@media (max-width: $t) {
  html,
  body {
    font-size: 13px !important;
  }
}
@media (max-width: $m) {
  html,
  body {
    font-size: 12px !important;
  }
}
* {
  font-family: Pretendard;
}
html {
  font-size: 15px;
}
.primaryColor {
  color: #ff4c4c;
}

.fadeItem {
  display: block;
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.5s ease-in-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(15px);
  }
}

.fadeItemDelay {
  &.fade-in {
    transition-delay: 0.2s;
  }
  &.fade-out {
    transition-delay: 0.2s;
  }
}

.head {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: toRem(78px);
  padding: toRem(10px) 10%;
  box-sizing: border-box;
  background: #fcfcfc;
  width: 100%;
  @media (max-width: $xl) {
    padding: toRem(10px) 5%;
  }
  @media (max-width: $t) {
    padding: toRem(15px) toRem(15px);
    .menu {
      li {
        display: none;
      }
      .button-box {
        display: block;
      }
    }
  }
  .logo {
    font-weight: 900;
    font-size: toRem(28px);
  }
  .menu {
    display: flex;
    align-items: center;
    gap: toRem(60px);
    font-size: toRem(22px);
    @media (max-width: $xl) {
      gap: toRem(30px);
      font-size: toRem(18px);
    }
    li {
      button {
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 100px;
        font-size: toRem(18px);
        font-weight: 700;
        color: #fff;
        padding: toRem(10px) toRem(25px);
        background: #000;
        border: solid 1px #000;
        transition: all 0.2s;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
.content {
  width: 100%;
  height: 100vh;
  @media (max-width: $l) {
    height: auto;
  }
  .title {
    font-size: toRem(45px);
    line-height: toRem(53.7px);
    font-weight: 700;
    margin-bottom: toRem(20px);
    @media (max-width: $xl) {
      font-size: toRem(40px);
      // line-height: normal;
    }
    @media (max-width: $t) {
      text-align: center;
      font-size: 6vw;
    }
    @media (max-width: $m) {
      font-size: 8vw;
    }
  }
  .sub-text {
    font-size: toRem(24px);
    line-height: toRem(36px);
    @media (max-width: $t) {
      font-size: 4vw;
    }
    @media (max-width: $m) {
      text-align: center;
      font-size: 6vw;
    }
  }
  &.content01 {
    .title-page {
      text-align: center;
      h2 {
        font-size: toRem(56px);
        font-weight: 700;
        @media (max-width: $t) {
          font-size: 6.5vw;
        }
      }
      p {
        font-size: toRem(40px);
        @media (max-width: $t) {
          font-size: 6vw;
        }
      }
    }
    .title-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: toRem(50px) toRem(45px);
      height: 35vh;
      margin-top: 40px;
      box-sizing: border-box;
      @media (max-width: $t) {
        padding: toRem(90px) toRem(20px);
      }
    }
    .img-box {
      position: relative;
      height: calc(65vh - 40px);
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .btn-list {
        position: absolute;
        top: toRem(80px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: toRem(20px);
        padding: 0 toRem(45px);
        @media (max-width: $t) {
          padding: 0 toRem(20px);
          gap: toRem(10px);
        }
        button {
          background: #fff;
          box-shadow: 0px 4px 4px 0px #00000040;
          padding: toRem(20px) toRem(60px);
          font-size: toRem(32px);
          font-weight: 700;
          text-align: center;
          border-radius: 100px;
          transition: all 0.2s;
          &:hover {
            background: #000;
            color: #fff;
          }
          @media (max-width: $t) {
            font-size: 5vw;
            padding: toRem(15px) toRem(0px);
            width: 100%;
          }
        }
      }
    }
  }
  &.content02 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(60px);
    padding: toRem(45px);
    @media (max-width: $t) {
      padding: toRem(90px) toRem(20px);
      flex-direction: column;
    }
  }
  &.content03 {
    display: flex;
    align-items: center;
    padding: toRem(45px);
    justify-content: center;
    box-sizing: border-box;
    @media (max-width: $t) {
      padding: toRem(90px) toRem(20px);
      flex-direction: column;
    }
    .content-box {
      max-width: 80%;
      width: 100%;
      @media (max-width: $t) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title {
        margin-bottom: toRem(78px);
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(55px) toRem(120px);
        @media (max-width: $t) {
          gap: toRem(40px) 5%;
          justify-content: center;
        }
        .itemOuter {
          width: 15%;
          position: relative;
          @media (max-width: $t) {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          &:last-of-type {
            &::after {
              content: none;
            }
          }
          &::after {
            content: ">";
            position: absolute;
            top: 50%;
            right: toRem(-60px);
            font-size: toRem(25px);
            transform: translate(-50%, -50%);
            @media (max-width: $t) {
              display: none;
            }
          }
          .item {
            width: 100%;
            position: relative;
            img {
              margin-bottom: toRem(23px);
            }
            b {
              display: block;
              margin-bottom: toRem(20px);
              font-weight: 600;
              font-size: toRem(24px);
              @media (max-width: $t) {
                br {
                  display: none;
                }
              }
            }
            p {
              font-size: toRem(17px);
              line-height: toRem(24px);
              @media (max-width: $t) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  &.content04 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(45px);
    box-sizing: border-box;
    @media (max-width: $t) {
      padding: toRem(90px) toRem(20px);
      flex-direction: column;
    }
    .content-box {
      max-width: 80%;
      width: 100%;
      @media (max-width: $t) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .list {
      margin-top: toRem(130px);
      @media (max-width: $t) {
        margin-top: toRem(80px);
      }
      .item {
        display: flex;
        align-items: center;
        gap: toRem(200px);
        position: relative;
        @media (max-width: $t) {
          gap: 50px;
          flex-direction: column;
        }
        > div {
          display: flex;
          align-items: center;
          gap: 0 toRem(55px);
          position: relative;
          @media (max-width: $t) {
            flex-direction: column;
          }
          &:nth-child(1)::before {
            content: "";
            position: absolute;
            right: toRem(-100px);
            width: 2px;
            height: 80%;
            background: #000;
            opacity: 0.5;
            @media (max-width: $t) {
              display: none;
            }
          }
          .text {
            text-align: center;
            @media (max-width: $t) {
              text-align: center;
              margin-top: toRem(25px);
            }
            h2 {
              font-size: toRem(36px);
              font-weight: 600;
            }
            span {
              font-size: toRem(24px);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  &.content05 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(45px);
    box-sizing: border-box;
    @media (max-width: $t) {
      padding: toRem(90px) toRem(0px);
      flex-direction: column;
    }
    .content-box {
      max-width: 80%;
      width: 100%;
      @media (max-width: $t) {
        max-width: 100%;
      }
    }
    .title-box {
      @media (max-width: $t) {
        padding: toRem(0px) toRem(20px);
      }
    }
    .img-box {
      margin-top: toRem(45px);
      height: toRem(315px);
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      button {
        position: absolute;
        background: #fff;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: toRem(20px) toRem(60px);
        font-size: toRem(32px);
        font-weight: 700;
        text-align: center;
        border-radius: 100px;
        margin-bottom: toRem(45px);
        transition: all 0.2s;
        &:hover {
          background: #000;
          color: #fff;
        }
        @media (max-width: $t) {
          font-size: 5vw;
          padding: toRem(15px) toRem(0px);
          width: 80%;
        }
      }
    }
  }
}
.footer-outer {
  background: #000;
  width: 100%;
  padding: toRem(100px) toRem(45px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: $t) {
    padding: toRem(90px) toRem(25px);
  }
  .footer {
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: toRem(90px) 0;
    border-top: solid 2px #4c4c4c;
    border-bottom: solid 1px #333333;
    @media (max-width: $t) {
      max-width: 100%;
    }
    .footer-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $t) {
        flex-direction: column;
        gap: toRem(45px);
      }
      .footer-logo {
        font-size: toRem(40px);
        font-weight: 900;
        line-height: toRem(47.73px);
        letter-spacing: -0.5px;
      }
      .footer-right {
        display: flex;
        flex-direction: column;
        width: 60%;
        @media (max-width: $t) {
          width: 100%;
        }
        > div {
          display: flex;
          align-items: center;
          > div {
            align-items: center;
          }
        }
        .map {
          gap: 16px;
          span {
            font-size: toRem(14px);
            font-weight: 400;
          }
        }
        .number {
          display: flex;
          margin-top: toRem(20px);
          gap: toRem(120px);
          @media (max-width: $t) {
            gap: toRem(20px);
          }
          span {
            font-size: toRem(14px);
            font-weight: 400;
          }
          > div {
            display: flex;
            gap: 16px;
          }
        }
        .sns {
          margin-top: toRem(40px);
          gap: 16px;
          span {
            font-size: toRem(14px);
            font-weight: 400;
            color: #b2b2b2;
          }
          > div {
            display: flex;
            gap: toRem(24px);
          }
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: toRem(25px);
    font-size: toRem(14px);
    @media (max-width: $t) {
      width: 100%;
      flex-direction: column;
    }
    div {
      display: flex;
      gap: toRem(60px);
      @media (max-width: $t) {
        gap: toRem(20px);
        margin-bottom: toRem(20px);
      }
      span {
        text-transform: uppercase;
      }
    }
    > span {
      color: #b2b2b2;
    }
  }
  * {
    color: #fff;
  }
}
.sub {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(45px);
    box-sizing: border-box;
    height: auto;
    min-height: 100vh;
    @media (max-width: $xl) {
      padding: toRem(20px);
    }
    .content-box {
      max-width: 80%;
      width: 100%;
      display: flex;
      gap: toRem(150px);
      align-items: center;
      justify-content: center;
      @media (max-width: $l) {
        flex-direction: column;
        gap: toRem(20px);
        margin-top: toRem(90px);
        max-width: 100%;
      }
      .left {
        .text {
          margin-bottom: toRem(75px);
          @media (max-width: $l) {
            margin-bottom: toRem(20px);
          }
          h2 {
            font-size: toRem(45px);
            line-height: toRem(53.7px);
            font-weight: 700;
            margin-bottom: toRem(20px);
          }
          p {
            font-size: toRem(24px);
            line-height: toRem(36px);
          }
        }
        .imgBox {
          @media (max-width: $t) {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
          img {
            max-height: 500px;
            @media (max-width: $t) {
              max-height: 250px;
            }
          }
        }
      }
      .form {
        min-width: 490px;
        min-height: 642px;
        background: #f8f8f8;
        border-radius: toRem(10px);
        border-radius: 10px 0px 0px 0px;
        padding: toRem(95px) toRem(100px);
        padding-bottom: toRem(50px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $l) {
          min-width: auto;
          width: 100%;
          padding: toRem(80px) toRem(45px);
        }
        .form-list {
          display: flex;
          flex-direction: column;
          gap: toRem(20px);
          margin-bottom: toRem(40px);
          width: 100%;
          .form-item {
            display: flex;
            flex-direction: column;
            input {
              border: solid 1px #11111333;
              height: 48px;
              border-radius: 5px;
              padding: toRem(5px) toRem(15px);
              font-size: toRem(18px);
            }
          }
        }
        .information {
          font-size: toRem(13px);
          span {
            text-decoration: underline;
          }
          color: #ff0000;
        }
        > button {
          color: #fff;
          background: #000;
          box-shadow: 0px 4px 4px 0px #00000040;
          padding: toRem(15px) toRem(15px);
          font-size: toRem(18px);
          font-weight: 700;
          text-align: center;
          border-radius: 100px;
          width: 80%;
          margin-top: toRem(15px);
          transition: all 0.2s;
          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
